@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

.container{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(6, 43, 50);
    color: silver;
    font-size: 1.5em;
    display: flexbox;
    justify-content: center;
    text-align: center;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-family: "Rubik Maps", system-ui;
    font-weight: 400;
    font-style: normal;
}

.namePlayer input {
    height: 2em;
    width: 8em;
    padding: 10px;
    font-size: 1.5em;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button{
    display: flexbox;
    border-radius: 15px;
    width: 7em;
    height: 2.8em;
    font-size: 1.2em;
    font-family: "Rubik Maps", system-ui;
    font-weight: 400;
    font-style: normal;
}


button:hover {
    background-color: #5f6b5f;
    transform: scale(1.05);
    color: white;
}

.score, .timer{
    font-size: 1em;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chosen-color{
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chosen-color h2 {
    transition: color 0.3s ease;
}

.chosen-color h2 {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.game-arena{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px 20px;
    justify-content: center;
}

#grid1, #grid2,  #grid3, #grid4, #grid5, #grid6, #grid7, #grid8, #grid9{
    background-color:rgb(6, 53, 54);
    border: 10px solid rgb(5, 5, 5);
    border-radius: 10px;
}

.selected{
    border: 12px solid white;
    transform: translate(-2px);
}

.certo {
    transform: scale(0.95);
    box-shadow: 0 0 15px green;
}

.errado{
    transform: scale(0.95);
    box-shadow: 0 0 15px red;
}

.selected:hover {
    border-color: darkgoldenrod;
    transform: translateX(-2px) scale(1.02);
}


#ranking {
    background: rgba(0,0,0,0.7);
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 500px;
}

#ranking ol {
    text-align: left;
    font-family: 'Zen Dots', sans-serif;
}

#ranking li:nth-child(1) {
    background: rgba(255, 215, 0, 0.2); /* Ouro */
    font-size: 1.3em;
}

#ranking li:nth-child(2) {
    background: rgba(192, 192, 192, 0.2); /* Prata */
}

#ranking li:nth-child(3) {
    background: rgba(205, 127, 50, 0.2); /* Bronze */
}


h4{
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  color: gray;
}