@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

:root {
    --amarelo: yellow;
    --azul: blue; 
    --azulEscuro: darkblue;
    --vermelho: red; 
    --preto: black; 
    --marrom: brown; 
    --verde: green; 
    --verdeEscuro: darkgreen; 
    --laranja: orange; 
    --branco: white;
    --cinza: gray; 
    --roxo: purple; 
    --rosa: pink; 
    
}

.container{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(6, 43, 50);
    color: silver;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 3em;
    font-family: "Rubik Maps", system-ui;
    font-weight: 400;
    font-style: normal;
}

.score, .timer{
    font-size: 1em;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chosen-color{
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.game-arena{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px 20px;
    justify-content: center;
}

#grid1, #grid2,  #grid3, #grid4, #grid5, #grid6, #grid7, #grid8, #grid9{
    background-color:rgb(6, 53, 54);
    border: 10px solid rgb(5, 5, 5);
    border-radius: 10px;
}

.selected{
    border: 12px solid white;
    transform: translate(-2px);
}

.selected:hover {
    border-color: darkgoldenrod;
    transform: translateX(-2px) scale(1.02);
}

.azul{
    color: blue;
}